/* General styles */
h4.header{
	padding-top:15px;
	padding-left:15px;
}
footer{
	padding:15px;
}
div#home{
	position: relative;
}

footer span.footer-text{
	position: relative;
	top: -10px;
}
body{
	color:#7d7d7d;
}
svg.linkedInIcon{
	color: white;
    width: 23px;
    margin-left: 8px;
    margin-top: 5px;
}
span.job-time{
	font-size: 12px;
}
span.job-company{
	font-size: 14px;
}
p.job-description{
	padding-top:5px;
}
div.timeline-experience div.card-content{
	border-left: 3px solid #2196f3;
	border-radius: 2px;
}
div.section-title i.small.material-icons{
	font-size: 3rem;
	position: relative;
    top: 7px;
}
div.section-title span.section-title{
	font-size: 35px;
}
div.section-title{
	text-align: center;
}
span.info{
	position: relative;
    top: -6px;
}

/* Main */
div#main{
	width: 100%;
}

/* HOME */
img.personal-pic{
	width: 560px;
    position: relative;
    top: -100px;
    left: -105px;
    z-index: 0;
}
div.div-personal-pic{
	overflow: hidden;
}
div.home{
	height: 260px;
	overflow: hidden;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	border-radius: 2px;
}
div.cut{
	top: 0px;
    margin-left: -12px;
    z-index: 1;
    position: absolute;
    border-style: solid;
    border-width: 260px 0 0 100px;
    border-color: rgba(223, 50, 50, 0) transparent transparent #2196f3;
}

/* Side nav */
div.square-name{
	color: white;
	height: 200px;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    font-size: 80px;
}
a#hamburger{
	z-index: 5;
	border: 2px solid #7d7d7d;
    background-color: #7d7d7d;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    position: fixed;
    top: 20px;
    left: 20px;
}
a#hamburger i{
	font-size: 30px;
}

/* Languages */
div#languages{
	padding-left: 3px;
    background-color: #b4b0b0;
    border-radius: 2px;
    z-index: 5;
    padding-top: 5px;
    width: 44px;
    position: fixed;
    top: 78px;
    left: 20px;
}
div#languages img{
	width: 37px;
}

/* Every card */
div.my-section{
	margin: 0 auto;
}
.btn-floating i{
	font-size: 1.3rem;
}

/* less than 900 */
@media (max-width: 900px) {
	div.my-section{
		width: 640px;
	}
}

/* Less than 670 */
@media (max-width: 670px) {
	div.my-section{
		width: 90%;
	}
}

/* Less than 600 */
@media (max-width: 600px) {

	h4#name{
		margin-top: 85px;
	}
	div.home{
		height: 325px;
	}
	div.cut{
		display: none;
	}
	div.personal-pic-container{
		border-radius: 100px;
		border: 4px solid white;
		position: relative;
		top: -420px;
		overflow: hidden;
		width: 200px;
		height: 200px;
		margin-right: auto;
		margin-left: auto;
	}
	img.personal-pic{
		position: relative;
		margin: 0 auto;
		width: 400px;
		height: 360px;
		top: -100px;
		left: -110px;
	}
	div.home{
		overflow: visible;
		position: relative;
		top: 135px;
	}
	div.div-personal-pic{
		overflow: inherit;
		display: flex;
		width: 100%;
	}
}


/* more than 900 */
@media (min-width: 900px) {
	div.my-section{
		width: 890px;
	}
}